body{  
    font-size:14px;
    font-family: 'Roboto', sans-serif !important;
    font-weight:normal;
    color:#666;
    background: #f0f0f0;position: relative;}

body,html{height: 100%;width: 100%;}
p,h1,h2,h3,h4,h5,h6{margin: 0; padding: 0;}
ul,li{padding: 0;margin: 0;list-style: none;}
.pad-LR-10{padding:0 10px;}
.mrg-T20{margin-top: 20px;}
.mrg-B40{margin-bottom: 40px;}
.form-group{position: relative;margin-bottom: 20px;}
.mrg-T0{margin-top: 0;}

.all_details{background: #fff;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); height: 75px;position: relative; z-index: 99;left: 0;right: 0;}
.all_details.fixed{position: fixed;top: 0;}
.col-dc{width: 25%; float: left;padding: 15px;}
.name{vertical-align: middle;}
.subheading{color: rgba(0,0,0,0.54);font-size: 12px;font-weight: 400;margin-bottom: 10px;    font-style: italic;}
.sub-value{color: rgba(0,0,0,0.87);font-size: 14px;font-weight: 400;text-transform: uppercase;}
.sub-value-list li{display: inline-block;padding-right: 25px;position: relative;color: rgba(0,0,0,0.87);     text-transform: capitalize;}
.sub-value-list li:before{content: "";height: 4px;width:4px; background: rgba(0,0,0,0.3); position: absolute;border-radius: 15px;left: -15px;top: 9px;}
.sub-value-list li:first-child:before{content: none;}

.col-crm-left{width: 265px;padding: 0 15px;float: left;}
.col-crm-right{width: calc(100% - 265px); margin-left: 265px; padding: 0 15px;}

.par-ul{padding: 25px 0;}

.sidenav{background-color: #fff;height: 100%; overflow-x: hidden;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}
.sidenav a.sidenav-a{padding: 0px 8px 0px 16px; text-decoration: none;font-size: 16px;color: rgba(0,0,0,0.54);line-height: 50px;font-weight: normal;display: block;cursor: pointer;}
.sidenav a:hover.sidenav-a,.sidenav a.sidenav-a:active,.sidenav a.sidenav-a:focus{color:#e46536;}
.side_nav a.sidenav-a .img-type{background: url(../images/black-oval.png) no-repeat; height: 16px; width: 16px; margin-top: 16px;margin-left: -15px;margin-right: 20px;vertical-align: top;display: inline-block;position: relative;}
.side_nav a.sidenav-a:hover .img-type{background: url(../images/red-oval.png) no-repeat;}
.side_nav a.sidenav-a.active{color:#e46536;}
.side_nav a.sidenav-a.completed .img-type{background: url(../images/tick.png) no-repeat;height: 18px;width: 18px;margin-right: 18px;}
.side_nav a.sidenav-a.active .img-type{background: url(../images/red-oval.png) no-repeat;height: 18px;width: 18px;margin-right: 18px;}
.side_nav a.sidenav-a.completed {color: rgba(0,0,0,0.87);}

.sidenav-a .img-type:after {content: "";border-left: 1px dashed #ddd;left: 8px;position: absolute; top: 18px;height:48px;}
.side_nav:last-child .img-type:after{content: none;}
.sidenav-a .img-type.img-after:after{height: 248px;}

.page-title{font-size:22px; color: rgba(0,0,0,0.87);font-weight: 500;margin:30px 0 20px;}
.white-section{background: #fff;padding: 50px 30px;}
.section-wh{padding: 30px;}
.sub-title{color: rgba(0,0,0,0.87);font-size: 18px;font-weight: 500; margin:25px 0 20px;}
.sub-title.first-title{margin-top: 0;}
.sidenav-sub-a{color: rgba(0,0,0,0.54);font-size: 14px;padding: 6px 6px 10px 40px;display: block;}
.sidenav-sub-a:hover,.sidenav-sub-a:active,.sidenav-sub-a:focus{text-decoration: none; color:#e46536;}
.sidenav-sub-a:before{content: ""; border: 1px solid #a9a9a9; border-radius: 50%;height: 10px; width: 10px; display: inline-block;margin-right: 12px;}
.sidenav-sub-a:hover:before ,.sidenav-sub-a:active:before,.sidenav-sub-a:focus:before,.sidenav-sub-a.active:before{border-color:#e46536;}
.sidenav-sub-a.active{color: #e46536;}
.sidenav-sub-a.completed{color:rgba(0,0,0,0.87) ;}
.sidenav-sub-a.completed:before{background: #e46536; border-color: #e46536;}
.sidenav-a.completed .img-type:after{border-color:#e46536;}


#sidebar.stickIt {position: fixed;}

.minus-sign{position: relative;right: -80px;top: -1px; padding: 10px;}
.col-dc-width-auto{width: auto;}

.sub-title.mrg-T0{margin-top: 0;}
.case-info-sublist{display: none;}
.case-info-sublist.personal-side{display: block;}

.crm-label{font-size: 14px; color: rgba(0,0,0,0.87);margin-bottom: 5px;font-weight: 400;display: block;}
.crm-form{font-size: 14px; color: rgba(0,0,0,0.87);margin-bottom: 10px;font-weight: 400;box-shadow: none;border-radius: 3px;height: 40px;-webkit-appearance:none;-moz-appearance:none; appearance:none;}
.crm-form:focus{box-shadow: none; outline: 0; border-color: #ff0000;}
.d-arrow:after{content: '';background: url(../images/down-arrow.svg) no-repeat;height: 8px;width: 12px;position: absolute;right: 8px;top: 41px;}


.radio-btn-sec{width: 35%;display: inline-block;margin-top: 10px; padding-bottom: 5px;}
.checkbox-btn-sec{width: 50%;display: inline-block;}
.loantype .radio-btn-sec{width: 16.69%;}

textarea.crm-form{resize: none;max-height: 200px; overflow-y: auto;}
.btn-continue{background: #e46536; height: 48px; color: #fff;font-weight: 500;border-radius: 3px;display: block; line-height: 51px;text-align: center;font-size: 16px;margin-top: 15px;}
.btn-continue:hover,.btn-continue:focus,.btn-continue:active{text-decoration: none; color: #fff;}
.btn-sec-width{width: 33.33333333%}

.input-group .crm-form{border-right: 0;}
.input-group-addon{background: transparent;}
.error-msg{color: #f10b0b; font-size: 12px;position: absolute;bottom: -18px;}

footer{position:relative;bottom: 0;left: 0;right: 0; z-index: 99;}
.disp-inl{display: inline-block}
.light-title{color: rgba(0,0,0,0.54); font-size: 14px;font-weight: 400;}
.bank-box{box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);padding:0 20px 20px;border-radius: 5px;margin: 20px 0;border: 1px solid rgba(0,0,0,0.12);min-height: 288px;position: relative;}
.t-head{border-bottom: 1px solid rgba(0,0,0,0.12); padding: 10px 0;margin-bottom: 20px;}
.col-50{width: 47%;float: left;margin-right: 15px;}
.col-50:nth-child(even){margin-right: 0;}
.icon-ul li{cursor: pointer;display: inline-block;padding-right: 7px;}
.icon-ul li:last-child{padding-right: 0;}
.add-bank{position: absolute; left: 0;right: 0;top: 0;bottom: 0;margin: auto;height: 75px; width: 75px;text-align: center; cursor: pointer;}
.add-bank-d{border: 1px solid rgba(0,0,0,0.12); border-radius: 50%; height: 56px; width: 56px;margin: 0 auto;}
.add-bank-d img{padding: 21px;}
.add-txt{color: #e46536; font-weight: 500; font-size: 14px; text-transform: uppercase;padding-top: 15px;}

.crm-form[disabled]{background: #fff; border-color:transparent; padding-left: 0;padding-top: 0;margin-top: -10px;}
.crm-form[disabled] + .d-arrow{display: none;}
.light-label{color: rgba(0,0,0,0.54);}
.filled{color: #fff;background-color: #f5a623;border-radius: 2px; font-size: 12px;padding: 4px 15px;text-transform: capitalize;}
.approved{color: #fff;background-color: #5eb95b;border-radius: 2px; font-size: 12px;padding: 4px 15px;text-transform: capitalize;}
.filled-box{display: none;}
.status{color: rgba(0,0,0,0.87); font-size: 14px;}
.col-100{width: 100%;}
.mrg-B50{margin-bottom: 50px;}
.cpv-status input[type="radio"] + label span{margin-right: 0;}
.cpv-status .radio-btn-sec{width: 32.4%;}
.Valuation-status .radio-btn-sec{width: 48%;}
.btn-reject,.btn-reject:hover{background: transparent; color:#e46536; border:1px solid #e46536;margin-right: 15px; height: 42px; line-height: 42px;margin-top: 0;}

.btn-approved{height: 42px; line-height: 42px;margin-top: 0;}


/*modal*/
.modal-dialog{width: 430px;}
.modal-header-custom{border-radius: 5px 5px 0 0;background-color: #f2f2f2;color: rgba(14, 14, 14, 0.87);}
.modal-header .close {margin-top: 2px;color: rgba(14, 14, 14, 0.87); opacity: 1;}
.modal-header .close:focus{outline: 0;}
.btn-proceed{width: 150px;margin-top: 0;height: 40px;line-height: 40px;font-size: 14px;text-transform: uppercase;}



.disp-in{display: inline-block;}

/* UPLOAD DOCS CSS */
.upload-docs{padding: 30px 30px;}
.upload-docs .nav-tabs { border-bottom: 1px solid rgba(0,0,0,.12); }
.upload-docs .nav-tabs>li {margin-right: 10px;}
.upload-docs .nav-tabs > li.active > a, .upload-docs .nav-tabs > li.active > a:focus, .upload-docs .nav-tabs > li.active > a:hover { border-width: 0; }
.upload-docs .nav-tabs > li > a { border: none; color: rgba(0,0,0,.7); font-size: 16px; font-weight:400; }
.upload-docs .nav-tabs > li.active > a, .upload-docs .nav-tabs > li > a:hover { border: none; color: #e26531 !important; background: transparent;font-size: 16px; font-weight:400; }
.upload-docs .nav-tabs > li > a::after { content: ""; background: #e26531; height: 3px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.upload-docs .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.upload-docs .tab-nav > li > a::after { background: #e26531 none repeat scroll 0% 0%; color: #fff; }
.upload-docs .tab-content{padding: 30px 0px;}

/* DROP ZONE CSS */
.drop-custom .dropzone{border: 1px dashed rgba(0,0,0,0.12);}
.drop-custom .dropzone .dz-message{margin: 5em}
.drop-txt{color: rgba(0,0,0,.87);font-size: 26px;font-weight: 400; display:block;text-align: center;}
.upload-button{cursor: pointer;background: #e46536;height: 48px;color: #fff;font-weight: 500;border-radius: 3px;display: block;line-height: 51px;text-align: center;font-size: 16px;margin-top: 30px;width: 210px; margin: 30px auto; text-align: center}
.drop-txt{font-weight: 700;}
#preview .dz-preview.dz-image-preview{height: 142px; width: 142px; background: #fff; padding: 5px;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);border-radius: 4px;position: relative;float: left;margin: 20px 20px 20px 0;}
.dropzone .dz-preview .dz-image{border-radius: 0;}
#preview .dz-preview .dz-details .dz-size{display: none;}
.dz-filename{position: absolute;}
#preview .dz-preview .dz-error-mark{background: #fff;border-radius: 50%;box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);height: 18px; width: 18px;text-align: center;top: -8px;left: auto;right: -9px; display: block;animation:inherit !important;z-index: 999;position: absolute;cursor: pointer;}
.del-btn{ font-size: 18px;margin-top: -3px;font-weight: 500;color: #e24141;}
#preview .dz-preview .dz-error-message{opacity: 1;background: #f54019 !important;border-radius: 2px 0 0 2px;width: auto;left: 5px; top: 5px; font-size: 10px; font-weight: 700;position: absolute;color: #fff;padding: 3px 5px;}
#preview .dz-preview .dz-error-message:after{content: none;}
#preview .dz-preview .dz-image{background: #f5f5f5;height: 100%;width: 100%;}
#preview .dz-preview .dz-details{position: absolute;bottom: -7px; left: 0px; top: auto; opacity: 1;padding: 0;color: rgba(0,0,0,0.54); font-size: 12px;}
#preview .dz-preview .dz-details .dz-filename{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
#preview .dz-preview .dz-details .dz-filename:hover span{border: 0; padding: 0;}
.add-more-img{color: #000;}
.addfile{height: 142px; width: 142px; background: #fff; padding: 35px 0;box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);border-radius: 4px;position: relative;float: left;margin: 20px 20px 20px 0;cursor: pointer;display: none;}
.plus{color: #e46536;border-radius: 50%;height: 42px; width: 42px;border: 1px solid #e46536;display: block;font-size: 30px;font-weight: 500;text-align: center;margin: 0 auto;}
.click-to-up{text-align: center;font-size: 12px;font-weight: 500;text-transform: uppercase;color: #e46536;display: block;padding-top: 10px;}
.onDrop{position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 96%;
    top: 10px;
    background: transparent;
}
.needsclick {border: 1px dashed rgba(0,0,0,0.12);}
.border-all{border: 1px dashed rgba(0,0,0,0.12) !important;}
